html {
font-size: 20px;
}
body {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}
h3 {
    margin-top: 1.5rem;
    font-size: 30px;
    color: lightblue;
    text-align: center;
}
.container {
    
    display: flex;    
    flex-direction: column;
    width: 1100px;
    height: 1060px;
    background-color: rgb(80, 54, 197);
}
.memory-game {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 4rem;
    perspective: 1000px;
}
.cards {
    background: rgb(20, 199, 223);
    border: 1px solid #bbb;
    border-radius: .1rem;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: .25rem .125rem;
    padding: 50px;
    position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  transform: scale(1);
  transform-style: preserve-3d;
 transition: transform .5s;

}
.cards:active {

    transform: scale(0.97);
 
    transition: transform .2s;
 
  }
button {
    width: 80px;
    height: 50px;
    text-align: center;
    justify-content: center;}

img {
    width: 50px;
    height: 50px;
}
.cards.flip {
    transform: rotateY(180deg);
  }

  .front,
.back {

 backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
  }